@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb:10, 10, 10
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
     --bg-rgb:  rgb(165, 151, 147);
  }
}

body {
  background: 
  var(--bg-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
